.show {
    padding: 0 20px 20px 20px;
    transition: all .15s;
    opacity: 1;
    height: 100%;
    text-align: initial;
    color:  #848480;
}

.hide {
    transition: all .25s;
    opacity: 0;
    height: 0px;
} 